.card {
    width: 200px;
    margin: 20px;
    padding: 20px;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border-color: rgb(255, 212, 237);
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 20px;
  }